.Dashboard{
    background-color: #f8f9fb;
    width: 100%;
}
.DashboardHeader{
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.DashboardHeaderLeftSection{
    align-self: center;
    color: #2D3353;
    padding-left: 70px;
}
.DashboardHeaderRightSection{
    display: flex;
    padding-right: 50px;
    justify-content: space-between;
    align-self: center;
}

.DashboardHeaderRightSection input {
    padding: 10px 60px;
    border:0px;
    border-radius: 20px;
}
.DashboardCardSection{
    background-color: #fefffe;
    height: 180px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.ChartSection{
    width: 93%;
    margin: 0 auto;
    height: 500px;
    display:flex;
    margin-top: 40px;
  
}
.ChartLeftSection{
    width: 65%;
    background-color: #fefffe;
    border-radius: 15px;
    margin-right: 20px;
}
.ChartRightSection{
    width: 35%;
    border-radius: 15px;
    margin-left: 10px;
    background-color: #fefffe;
}
